@import '~scss/vars';

.search__result {
  display: block;

  margin-bottom: 15px;
  padding: 15px 15px;

  border: 1px solid map-get($colors, base);
  border-radius: 4px;

  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.15);

  cursor: pointer;

  transition: 0.2s all ease-in-out;

  &:hover {
    color: #F8B333;

    box-shadow: 1px 10px 20px -2px rgba(0,0,0,0.15);

    transform: translateY(-2px);
  }

  &--active {
    color: #F8B333;

    box-shadow: 1px 10px 20px -2px rgba(0,0,0,0.15);

    transform: translateY(-2px);
  }

  &--selected {
    border: 1px solid map-get($colors, primary);
  }
}