@import '~scss/vars';

.button {
  display: inline-block;
  vertical-align: middle;

  min-width: 200px;

  padding: 15px 25px;

  font-size: 14px;
  font-weight: 700;

  border: 0;
  outline: 0;

  border-radius: 3px;

  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.15);

  cursor: pointer;

  transition: 0.1s all ease-in-out;

  &--primary {
    background: map-get($colors, secondary);
    color: map-get($colors, base);
  }
}