@import '~scss/vars';
@import '~scss/base';

.app {
  width: 100%;

  &-page {
    width: 95%;
    max-width: 960px;

    margin: 40px auto 0 auto;
    padding: 40px;

    background: map-get($colors, base);

    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);

    @media (min-width: 480px) {
      margin: 60px auto 0 auto;
      padding: 60px;

    }

    &-logo {
      height: 32px;
    }
  }
}