html, body, h1, p, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: map-get($colors, body);
  color: map-get($colors, text);

  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

h1 {
  margin: 0;
  padding: 0 0 20px 0;

  color: map-get($colors, primary);

  font-size: 22px;
  font-weight: 700;
}

p, ul {
  margin-bottom: 20px;

  line-height: 1.3;
}

ul {
  list-style-position: inside;
}

li {
  margin-bottom: 10px;
}

a {
  color: inherit;
  
  font-weight: 700;
  text-decoration: none;

  transition: 0.2s all ease-in-out;

  &:hover {
    color: map-get($colors, primary);
  }
}

input, textarea, select {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}